/* benachrichtigungen.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.notification-container {
    max-width: 800px;
    margin: 20px 0 20px 20px; /* Hier die Änderung für linksbündige Ausrichtung */
    padding: 20px;
}

.notification {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.notification p {
    margin: 0;
}

/* Styling nur für die Benachrichtigungselemente innerhalb des .notification-Containers */
.notification-container .notification p:nth-child(1) {
    font-weight: bold;
}

.notification-container .notification p:nth-child(2) {
    color: #777;
}
