/* benachrichtigungen.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~jw170/Bilder/Business Event Website in Blue Dark Blue Light Blue Modern Style.png");
    background-position: center;
    background-size: cover;
    position: relative;
}


h1 {
    color: #333;
}

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.notification {
    background-color: #f0f0f0; /* Hintergrundfarbe der Box */
    border: 1px solid #d4d4d4; /* Rand der Box */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px 20px; /* Innenabstand */
    margin-bottom: 10px; /* Abstand zwischen den Boxen */
    width: 80%; /* Breite der Boxen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schattenwurf */
    text-align: center; /* Zentrierter Text */
}
