

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.logout_text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
}

.logout {
    display: flex;
    justify-content: center;
}

.logout_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout_button:hover {
    background-color: #45a049;
}