body{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~jw170/Bilder/Business Event Website in Blue Dark Blue Light Blue Modern Style.png");
    background-position: center;
    background-size: cover;
    position: relative;

}



form{

    height: 520px;
    width: 270px;
    padding: 60px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: inherit;
    box-shadow: 2px 2px 1px rgb(199, 184, 184);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
form1{

    height: 510px;
    width: 240px;
    padding: 60px;
    border-radius: 8px;
    background-color: white;
    opacity: inherit;
    box-shadow: 2px 2px 1px rgb(199, 184, 184);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    color: white;
    font-family: "Avenir Next Medium";
    font-size: 38px;
    background-position: top left;


    background-size: 100% 4px;

    background-repeat: no-repeat;
    line-height: 60px;
}

.inputs_container {

    position: relative;
}
input{
    height: 32px;
    width: 160px;
    margin: 15px;
    padding: 0px 25px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.212);
    color: black;
    font-size: 12px;

}
input:hover{
    background-color: #f8c954;

}
input:focus{
    outline: none;
    background-color: #f26b70;
}
input::placeholder{
    color: #f8c954;
}
p{
    font-family: "Avenir Next", sans-serif;
    color: white;
    font-size: 14px;
}
a{
    font-family: "Avenir Next", sans-serif;
    color: white;
    font-size: 14px;
    position: page;
}
a:hover{
    color: #f8c954;
}
button{
    height: 40px;
    width: 110px;
    border-radius: 1000px;
    border: none;
    color: white;
    font-family: "Avenir Next", sans-serif;
    font-size: 14px;
    background: linear-gradient(45deg, #f26b70, #f8c954); /* Farbverlauf */;
}
button:hover{
    width: 200px;

}
button:focus {
    outline: none;
    width: 200px;
}



/* Stile für Geräte mit einer Ansichtsbreite von 480px oder weniger */
@media (max-width: 480px) {


    form {

        height: 550px;
        width: 250px;

    }

    h1 {

        font-size: 35px;

    }


    input {
        height: 29px;
        width: 140px;

        font-size: 11px;

    }
}