body {
    background-color: #D3EBE8;
}
.Header{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~jw170/Bilder/Teal Green Simple Illustrated Social Media Policy Presentation.png");
    background-position: center;
    background-size: cover;
    position: relative;

}

.Header{

    margin: auto;
    text-align: center;

    font-family:"Avenir Next Medium";
}
.Header h1 {
    color: white;
    font-size: 80px;

}
.Header p{
    color: white;
    margin: auto;
    font-size: 80px;
}
.Header h2{
    color: white;
    margin: auto;
    font-size: 40px;
}
.picture{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.picture img{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    position: center;
    display: flex;
    gap: 20px;
}
.Layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.Layer:hover{
    background: rgba(255,210,0,0.8);
}
.Layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-underline: white;

}
.Layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



@media( max-width: 650px) {



    .Layer h3 {
        width: 100%;
        font-weight: 500;
        color: white;
        font-size: 14px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
        text-underline: white;

    }
}


