body {
    background-color: white;
}
.Header{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~jw170/Bilder/Business Event Website in Blue Dark Blue Light Blue Modern Style.png");
    background-position: center;
    background-size: cover;
    position: relative;

}

.Header{

    margin: auto;
    text-align: center;

    font-family:"Avenir Next Medium";
}
.Header h1 {
    color: black;
    font-size: 90px;

}
.Header p{
    color: black;

    font-size: 80px;
}
button{
    height: 45px;
    width: 200px;
    border-radius: 100px;
    border: none;
    color: white;
    font-family: "Avenir Next", sans-serif;
    font-size: 14px;
    background: #45a049;
}
button:hover{
    width: 240px;

}
button:focus {
    outline: none;
    width: 240px;
}

.row {
    display: flex;
    justify-content: space-between; /*  Abstand zwischen den Bildern zu verringern */
}

.picture {
    flex-basis: calc(33.333% - 20px); /*   gewünschten Abstand (hier 20px) von der Breite des Elements */
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.picture img {
    width: 100%;
    height: 600px;
}

.picture:hover img {
    width: 100%;
    height: 100%;
}

.Layer {
    background: transparent;
    height: 100%; /* Ändern Sie die Höhe auf 100% */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.Layer:hover {
    background: linear-gradient(45deg, #f26b70, #f8c954);
}

.Layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 16px;
    bottom: 0;
    left: 90%;
    transform: translateX(-50%);
    position: absolute;
    font-family: "Avenir Next Medium";
}

.Layer:hover h3 {
    bottom: 50%;
    opacity: 0.5;
}
@media (max-width: 750px) {

    .Header h1 {
        color: black;
        font-size: 80px;

    }

    .Header p {
        color: black;

        font-size: 70px;
    }

    button {
        height: 40px;
        width: 160px;
        border-radius: 100px;
        border: none;
        color: white;
        font-family: "Avenir Next", sans-serif;
        font-size: 14px;
        background: #45a049;
    }

    button:hover {
        width: 200px;

    }

    button:focus {
        outline: none;
        width: 200px;
    }


    .Layer h3 {
        width: 100%;
        font-weight: 500;
        color: white;
        font-size: 11px;
        bottom: 0;
        left: 45%;
        transform: translateX(-20%);
        position: absolute;
        font-family: "Avenir Next Medium";
    }

}

    /* Stile für Geräte mit einer Ansichtsbreite von 480px oder weniger */
@media (max-width: 480px) {
    .Header h1 {
        color: black;
        font-size: 50px;

    }

    .Header p {
        color: black;

        font-size: 40px;
    }

    button {
        height: 25px;
        width: 150px;

        font-size: 10px;

    }

    button:hover {
        width: 150px;

    }

    button:focus {
        outline: none;
        width: 150px;
    }
    .picture img {
        width: 50%;
        height: 300px;
    }


    .Layer h3 {
        width: 100%;
        font-weight: 500;
        color: white;
        font-size: 9px;
        bottom: 0;
        left: 45%;
        transform: translateX(-20%);
        position: absolute;
        font-family: "Avenir Next Medium";}
}


