body {
    font-family: "Avenir Next Medium", sans-serif;
    background-color: #D3EBE8;
}

.card {
    background-color: white;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;

    width: 700px;
    height: auto;
    margin: 10px auto; /* Hier die Änderung */
}
.h1{
    font-family: "Avenir Next Medium";
    font-size: 16px;
    color: #D3EBE8;
}
.h2{
    font-family: "Avenir Next";
    font-size: 14px;
}
.image {
    float: left;
    margin-right: 10px;
}

.image img {
    width: 200px;
    height: 200px;
}