/* Allgemeine Formatierung des Body-Elements */
body {
    font-family:   "Avenir Next Medium"; 
    margin: 0; /* Kein Außenabstand für den Body */
    padding: 0; /* Kein Innenabstand für den Body */
    background-color: #f4f4f4; /* Hintergrundfarbe des Body */
}

/* Oberer Abstand für den Kalenderbereich */
#calendar {
    margin-top: 20px; /* 20px Abstand vom oberen Rand für den Kalenderbereich */
}

/* Formatierung für das Formular zum Hinzufügen von Ereignissen */
form {
    max-width: 600px; /* Maximale Breite des Formulars auf 600px begrenzen */
    margin: 20px auto; /* 20px Abstand oben und unten, zentriertes Formular */
    padding: 20px; /* Innenabstand des Formulars */
    background: #fff; /* Hintergrundfarbe des Formulars */
    border-radius: 10px; /* Runde Ecken für das Formular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten für das Formular */
}


/* Stil für die Tabelle (Kalender) mit einem Farbverlauf als Hintergrund */
table {
    width: 80%; /* Verkleinere die Breite der Tabelle auf 80% */
    border-collapse: collapse; /* Rand zwischen den Tabellenzellen entfernen */
    margin: 20px auto; /* Zentriere die Tabelle mit 20px Abstand oben und unten */
    background: linear-gradient(45deg, #f26b70, #f8c954); /* Farbverlauf für den Hintergrund */
}

/* Allgemeine Formatierung für Tabellen, Tabellenzellen und Tabellenüberschriften */
table, th, td {
    border: 1px solid #ddd; /* Leichter Rahmen für Tabellenzellen und -überschriften */
}

/* Formatierung für Tabellenzellen mit fester Breite, Höhe, und Ausrichtung */
th, td {
    width: 14.28%; 
    padding: 10px; 
    text-align: left; /* Text links ausrichten */
    height: 80px; 
    vertical-align: top; /* Obere Ausrichtung des Inhalts */
    font-size: 12px; 
}

/* Stil für Tabellenüberschriften mit Hintergrundfarbe und angepasster Höhe */
th {
    background-color: #f2f2f2; 
    height: 30px; /* Angepasste Höhe für die Tage in der oberen Zeile */
}

/* Stil für den Header des Kalenders mit Flexbox-Layout und Farbverlauf */
.calendar-header {
    width: 80%; /*  Breite auf 80% */
    margin: 20px auto; /* Zentriere mit 20px Abstand oben und unten */
    display: flex; /* Flexbox-Layout für den Header */
    justify-content: space-between; /* Platziere die Elemente gleichmäßig im Header */
    align-items: center; /* Elemente vertikal zentrieren */
    background-color: #fff; /* Farbverlauf für den Header */
    padding: 10px; /* Innenabstand des Headers */
    border-radius: 10px; /* Abrundung Ecken */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

/* Stil für den Monat-Jahr-Bereich mit Schriftgröße, Farbe und Fettdruck */
.month-year {
    font-size: 25px; /* Schriftgröße für den Monat und das Jahr */
    color: #000000; 
    font-weight: bold; /* Fettdruck für den Monat und das Jahr */
    flex-grow: 1; /* Der Monat nimmt so viel Platz wie möglich ein */
}


/* Stil für Navigationsbutton mit festen Abständen, Breite und Farben */
.nav-button {
    display: inline-block; /* Navigationsbutton als Inline-Block-Elemente */
    padding: 10px; /* Innenabstand für die Navigationsbutton */
    text-decoration: none; /* Keine Unterstreichung für den Text */
    color: #fff; /* Textfarbe weiß */
    background-color: #4caf50; /* Hintergrundfarbe für die Navigationsbutton */
    border: 1px solid #45a049; /* Rahmen für die Navigationsbutton */
    border-radius: 100px; /* Runde Ecken für die Navigationsbutton */
    width: 200px; /* Feste Breite für beide Navigationsbutton */
    transition: background-color 0.3s; /* Sanfter Farbübergang beim Hovern */
    font-size: 14px; /* Setzen Sie hier die gewünschte Schriftgröße */
}

.ereignis-button{
    display: inline-block; /* Navigationsbutton als Inline-Block-Elemente */
    padding: 10px; /* Innenabstand für die Navigationsbutton */
    text-decoration: none; /* Keine Unterstreichung für den Text */
    color: #fff; /* Textfarbe weiß */
    background-color: #4caf50; /* Hintergrundfarbe für die Navigationsbutton */
    border: 1px solid #45a049; /* Rahmen für die Navigationsbutton */
    border-radius: 100px; /* Runde Ecken für die Navigationsbutton */
    width: 200px; /* Feste Breite für beide Navigationsbutton */
    transition: background-color 0.3s; /* Sanfter Farbübergang beim Hovern */
    font-size: 14px; /* Setzen Sie hier die gewünschte Schriftgröße */

}
/* Stil für den Hover-Effekt aller Buttons im Dokument */
.ereignis-button:hover {
    width: 220px; /* Hintergrundfarbe ändert sich bei Hover */
}



