body {
    font-family:  "Avenir Next Medium"; 
    margin: 0; /* Außenabstand */
    padding: 0; 
    background-color: #f4f4f4;
}

.container {
    max-width: 800px; /* maximale Breite */
    margin: 0 auto; /* Container zentrieren */
    padding: 20px; 
}

h1 {
    color: #333; 
}

.forum-form {
    background-color: #fff; /* Hintergrundfarbe des Formulars */
    padding: 20px; 
    margin-bottom: 20px; /* unterer Margin-Abstand  */
    border-radius: 8px; /* Abgrundung der Ecken des Formulars */
}

.forum-form input[type="text"] {
    width: calc(100% - 20px); /* Breite des Texteingabefelds*/
    padding: 10px; /* Padding für das Texteingabefeld */
    margin: 8px 0; /* Margin-Abstand oben und unten für das Texteingabefeld */
    display: inline-block; /* Ermöglicht das Anzeigen als Inline-Block-Element */
    border: 1px solid #ccc; /* Setzt Rahmen um das Texteingabefeld */
    border-radius: 4px; /* Rundet die Ecken des Texteingabefelds ab */
    box-sizing: border-box; /* Box-Sizing-Methode auf border-box */
}

.forum-form button {
    background-color: #45a049; /* Hintergrundfarbe des Buttons  */
    color: white; /* Textfarbe Button */
    padding: 10px 15px; 
    border: none;
    border-radius: 4px; /* Rundet die Ecken des Buttons ab */
    cursor: pointer; /* Setzt den Mauszeigerstil auf einen Zeiger */
}

.forum-form button:hover {
    background-color: #45a049; /* Button Hover */
}

.forum-container {
    display: flex; /* Flexbox-Layout-Modus für das Container-Element */
    flex-direction: column; /* Ausrichtung der flexiblen Container auf Spalten */
    align-items: flex-start; /* Ausrichtung der Elemente auf den Start der Achse (links) */
}


.comment-container img.profile-picture {
    width: 60px; /* Breite Profilbild */
    height: 60px; 
    border-radius: 50%; /* Kreis */
    margin-right: 0; 
}

/* Follow-Button unterhalb des Beitrags zentrieren */
.follow-form {
    margin-top: 10px; /* obere Margin-Abstand für das Follow-Formular auf 10 Pixel */
    text-align: center; /* Zentriert den Text innerhalb des Follow-Formulars */
}


.comment-container { /* weisser Container um dem Beitrag */
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.comment-container img.profile-picture {
    width: 60px; /* Breite des Profilbildes auf 60 Pixel */
    height: 60px; 
    border-radius: 50%; /* Kreis */
    margin-right: 0; 
}

.comment {
    display: flex; /* lexbox-Layout-Modus für das Container-Element */
    flex-direction: column; /* Legt die Ausrichtung der flexiblen Container auf Spalten fest */
    flex-grow: 1; /* Weist dem Container das Wachsen-Flex-Attribut zu, damit er den verfügbaren Platz einnimmt */
}

.comment p {
    margin: 0; /* Margin-Abstand für Absätze innerhalb des Kommentar-Containers auf 0 */
}

.comment span { /* Datum*/
    color: #888; 
    font-size: 12px; 
}

/* Zentriert */
.comment-container {
    align-items: center; /* Setzt die Ausrichtung der Elemente auf das Zentrum der Achse */
    text-align: center; /* Zentriert den Text innerhalb des Kommentar-Containers */
}